black==24.10.0 ; python_version >= "3.11" and python_version < "4.0"
click==8.3.1 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
isort==5.13.2 ; python_version >= "3.11" and python_version < "4.0"
librt==0.7.4 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation != "PyPy"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
mypy==1.19.1 ; python_version >= "3.11" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.11" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==4.5.1 ; python_version >= "3.11" and python_version < "4.0"
pydocstyle==6.3.0 ; python_version >= "3.11" and python_version < "4.0"
ruff==0.11.13 ; python_version >= "3.11" and python_version < "4.0"
snowballstemmer==3.0.1 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "4.0"
